@(webJarAssets: WebJarAssets, characters: List[ComicCharacter], modal: Html)

    @main(webJarAssets, "List of Characters | Complete Marvel Character History") {

        <div class="col-xs-12 top-bottom-margin">
            <input class="col-xs-10 col-md-6 js-live-search" type="text"/>
            <a class="pull-right ch-btn js-new-character-btn">New</a>
        </div>

        @views.html.characters.list(characters)

        @if(modal != null) {
            <div class="js-modal-container">
                @modal
            </div>
        } else {
            <div class="js-modal-container"/>
        }

        @helper.requireJs(core = routes.Assets.versioned("lib/requirejs/require.js").url,
            module = routes.Assets.versioned("js/characters/index").url)
    }