@(webJarAssets: WebJarAssets, character: ComicCharacter, appearances: List[CharacterAppearance])

    @main(webJarAssets, "Character Info | Complete Marvel Character History") {
        <a href="@routes.CharactersController.index("")">Back</a>

        <div class="col-xs-12 top-bottom-margin">
            <div class="col-xs-12 col-sm-6 image-box">
                <img src="@character.getImagePath">
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="col-xs-6 col-sm-4 bold text-right character-info">
                    <div>Name:</div>
                    <div>Real Name:</div>
                    <div>Teams:</div>
                </div>
                <div class="col-xs-6 col-sm-8 character-info">
                    <div>@character.characterName</div>
                    <div>@character.characterRealName</div>
                    <div>@character.teams.map(team => team.teamName).mkString(",")</div>
                </div>
            </div>
        </div>

        <h2>Main Order Appearances</h2>
        <div class="character-appearances">
        @views.html.appearances.list(appearances)
        </div>
    }

@helper.requireJs(core = routes.Assets.versioned("lib/requirejs/require.js").url,
    module = routes.Assets.versioned("js/characters/show").url)