@mixin delete-control {
  &:hover {
    .controls {
      opacity: 1;
    }
  }

  .controls {
    cursor: pointer;
    opacity: 0;

    &:after {
      font: normal normal normal 20px/1 FontAwesome;
      content: "\f00d";
      padding: 0px 2px;
      color: red;
    }
  }
}

.appearance-block {
  margin-bottom: 10px;
  border: 1px solid black;
  padding-bottom: 10px;
}

.character-block {
  .name {
    height: 40px;
  }

  .controls {
    position: absolute;
    right: 22px;
  }

  @include delete-control;
}

.team-container {
  dl {
    margin-bottom: 5px;
  }

  margin-bottom: 20px;
}

.team-container {
  .team-element {
    display: inline-block;
    margin-right: 5px;

    @include delete-control;
  }
}
