@(webJarAssets: WebJarAssets, appearances: List[CharacterAppearance])

@main(webJarAssets, "Complete Marvel Character History") {

    <a href="@routes.CharactersController.index("")">Characters</a>

    <h2>Latest Appearance entries</h2>

    <div class="character-appearances">
    @views.html.appearances.list(appearances)
    </div>

    <a class="ch-btn js-get-more-btn">Get more</a>

    @helper.requireJs(core = routes.Assets.versioned("lib/requirejs/require.js").url,
        module = routes.Assets.versioned("js/appearances/main").url)
}
