@(webJarAssets: WebJarAssets, appearances: List[CharacterAppearance])

@main(webJarAssets, "Complete Marvel Character History") {

    <div class="col-xs-12 col-md-offset-2 col-md-8">
        <h2>Latest Appearance entries</h2>
    </div>

    <div class="character-appearances">
        @views.html.appearances.list(appearances)
    </div>

    <div class="col-xs-12">
        <a class="ch-btn js-get-more-btn">Get more</a>
    </div>

    @helper.requireJs(core = routes.Assets.versioned("lib/requirejs/require.js").url,
        module = routes.Assets.versioned("js/appearances/main").url)
}
