@(titles: List[Title], issues: List[Issue])

@main("Welcome to Play") {
    <header>
        <hgroup>
            <h1>Dashboard</h1>
            <h2>Tasks over all projects</h2>
        </hgroup>
    </header>

    <article class="issues">
    @issues.groupBy(_.title).map {
        case (title, issues) => {
            <div class="folder" data-folder-id="@title.id">
                <header>
                    <h3>@title.titleName</h3>
                </header>
                <ul class="list">
                @issues.map { issue =>
                    @views.html.issues.item(issue)
                }
                </ul>
            </div>
        }
    }
    </article>

}
